
@{
    ViewBag.Title = "DatosPersonales";
}

<h3><strong>Nombre:</strong> Alexander</h3>
<h3><strong>Apellidos:</strong> Vilca Hiñigo</h3>
<h3><strong>Ciudad:</strong> Lima</h3>
<h3><strong>Edad:</strong> 19</h3>

